{% extends 'baseFront.html.twig' %}

{% block title %}Collecte{% endblock %}

{% block body %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row gy-4">
    <h1>Collecte</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ collecte.id }}</td>
            </tr>
            <tr>
                <th>EtatC</th>
                <td>{{ collecte.etatC }}</td>
            </tr>
            <tr>
                <th>Typevehicule</th>
                <td>{{ collecte.typevehicule }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ collecte.contact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_collecte_index') }}">back to list</a>

    <a href="{{ path('app_collecte_edit', {'id': collecte.id}) }}" class="btn btn-sm btn-warning" >Modifier</a>

    {{ include('collecte/_delete_form.html.twig') }}

</div></div></section>
{% endblock %}
