<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link href="{{asset('assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ asset ('assets/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/quill/quill.snow.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/quill/quill.bubble.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/remixicon/remixicon.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/vendor/simple-datatables/style.css') }}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset ('assets/vendor/apexcharts/apexcharts.min.js') }}"></script>
        <script src="{{ asset ('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset ('assets/vendor/chart.js/chart.umd.js') }}"></script>
        <script src="{{ asset ('assets/vendor/echarts/echarts.min.js') }}"></script>
        <script src="{{ asset ('assets/vendor/quill/quill.min.js') }}"></script>
        <script src="{{ asset ('assets/vendor/simple-datatables/simple-datatables.js') }}"></script>
        <script src="{{ asset ('assets/vendor/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset ('assets/vendor/php-email-form/validate.js') }}"></script>

        <!-- Template Main JS File -->
        <script src="{{ asset('assets/js/main.js') }}"></script>
    {% endblock %}
</head>
<body>



    <!-- ======= Header ======= -->
    {% block header %}
    <header id="header" class="header fixed-top d-flex align-items-center">

				<div class="d-flex align-items-center justify-content-between">
					<a href="{{ path ('app_front')}}" class="logo d-flex align-items-center">
						<img src="{{ asset ('assets/img/logo_png.png') }}" alt="">
				<span class="d-none d-lg-block" >Ecocycla </span>
					</a>
					<i class="bi bi-list toggle-sidebar-btn"></i>
				</div>
				<!-- End Logo -->

				<div class="search-bar">
					<form class="search-form d-flex align-items-center" method="GET" action="#">
						<input type="text" name="query" placeholder="Search" title="Enter search keyword">
						<button type="submit" title="Search">
							<i class="bi bi-search"></i>
						</button>
					</form>
				</div>
				<!-- End Search Bar -->

				<nav class="header-nav ms-auto">
					<ul class="d-flex align-items-center">

						<li class="nav-item d-block d-lg-none">
							<a class="nav-link nav-icon search-bar-toggle " href="#">
								<i class="bi bi-search"></i>
							</a>
						</li>
						<!-- End Search Icon-->

						<li class="nav-item dropdown">

							<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
								<i class="bi bi-bell"></i>
								<span class="badge bg-primary badge-number">4</span>
							</a>
							<!-- End Notification Icon -->

							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
								<li class="dropdown-header">
									Vous aver  4 nouvelles notifications
									<a href="#">
										<span class="badge rounded-pill bg-primary p-2 ms-2">Afficher tous </span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="notification-item">
									<i class="bi bi-exclamation-circle text-warning"></i>
									<div>
										<h4></h4>
										<p></p>
										<p>30 min. ago</p>
									</div>
								</li>

								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="notification-item">
									<i class="bi bi-x-circle text-danger"></i>
									<div>
										<h4></h4>
										<p></p>
										<p>1 hr. ago</p>
									</div>
								</li>

								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="notification-item">
									<i class="bi bi-check-circle text-success"></i>
									<div>
										<h4></h4>
										<p></p>
										<p>2 hrs. ago</p>
									</div>
								</li>

								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="notification-item">
									<i class="bi bi-info-circle text-primary"></i>
									<div>
										<h4> </h4>
										<p></p>
										<p>4 hrs. ago</p>
									</div>
								</li>

								<li>
									<hr class="dropdown-divider">
								</li>
								<li class="dropdown-footer">
									<a href="#">Afficher tous les  notifications</a>
								</li>

							</ul>
							<!-- End Notification Dropdown Items -->

						</li>
						<!-- End Notification Nav -->

						<li class="nav-item dropdown">

							<a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
								<i class="bi bi-chat-left-text"></i>
								<span class="badge bg-success badge-number">3</span>
							</a>
							<!-- End Messages Icon -->

							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
								<li class="dropdown-header">
									Vous Avez 3 nouveaux  messages
									<a href="#">
										<span class="badge rounded-pill bg-primary p-2 ms-2">Afficher tous </span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="message-item">
									<a href="#">
										<img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
										<div>
											<h4></h4>
											<p</p>
											<p>4 hrs. ago</p>
										</div>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="message-item">
									<a href="#">
										<img src="{{ asset ('assets2/img/messages-2.jpg') }}" alt="" class="rounded-circle">
										<div>
											<h4></h4>
											<p></p>
											<p>6 hrs. ago</p>
										</div>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="message-item">
									<a href="#">
										<img src="{{ asset ('assets2/img/messages-3.jpg') }}" alt="" class="rounded-circle">
										<div>
											<h4></h4>
											<p></p>
											<p>8 hrs. ago</p>
										</div>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li class="dropdown-footer">
									<a href="#">Afficher tous les Msgs </a>
								</li>

							</ul>
							<!-- End Messages Dropdown Items -->

						</li>
						<!-- End Messages Nav -->

						<li class="nav-item dropdown pe-3">

							<a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
								<img src="{{ asset ('assets2/img/profile-img.png') }}" alt="Profile" class="rounded-circle">
								<span class="d-none d-md-block dropdown-toggle ps-2">L.khaled </span>
							</a>
							<!-- End Profile Iamge Icon -->

							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
								<li class="dropdown-header">
									<h6>Khaled lajimi </h6>
									<span>Admin</span>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center" href="users-profile.html">
										<i class="bi bi-person"></i>
										<span>Mon Profil</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center" href="users-profile.html">
										<i class="bi bi-gear"></i>
										<span>Parametres</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
										<i class="bi bi-question-circle"></i>
										<span>Besoin d'aide?</span>
									</a>
								</li>
								<li>
									<hr class="dropdown-divider">
								</li>

								<li>
									<a class="dropdown-item d-flex align-items-center" href="{{ path('app_logout')}}">
										<i class="bi bi-box-arrow-right"></i>
										<span>Déconnexion</span>
									</a>
								</li>

							</ul>
							<!-- End Profile Dropdown Items -->
						</li>
						<!-- End Profile Nav -->

					</ul>
				</nav>
				<!-- End Icons Navigation -->

			</header>
    {% endblock %}


{% block sidebar %}
	<!-- ======= Sidebar ======= -->
	<aside id="sidebar" class="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<li class="nav-item">
				<a class="nav-link " href="index">
					<i class="bi bi-grid"></i>
					<span>Dashboard</span>
				</a>
			</li><!-- Dashboard-->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
					<i class="ri-account-circle-line"></i><span>Gestion utilisateur</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a href=" {{ path ('app_user_new')}}">
							<i class="bi bi-circle"></i><span>Ajouter utilisateur</span>
						</a>
					</li>


					<li>
						<a href="{{ path ('app_user_index')}}">
							<i class="bi bi-circle"></i><span>affichage des utilisateurs</span>
						</a>
					</li>
				</ul>
			</li><!-- gestion utilisateur  -->

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-journal-text"></i><span>Gestion produits </span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

					<li>
						<a href="{{ path('display_prod') }}">
							<i class="bi bi-circle"></i><span>Liste des produits</span>
						</a>
					</li>
					<li>
						<a href="{{ path('display_categorie') }}">
							<i class="bi bi-circle"></i><span>Liste des categorie</span>
						</a>
					</li>

					{# <li>
                            <a href="{{ path('ajouterProduit') }}">
                                <i class="bi bi-circle"></i><span>ajouter produits</span>
                            </a>
                        </li> #}
				</ul>
			</li><!-- gestion produit  -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-bar-chart"></i><span>Gestion commande</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

					<li>
						<a href="{{ path('display_commandeAdmin') }}">
							<i class="bi bi-circle"></i>
							<span>Historique de Commandes</span>
						</a>
					</li>
				</ul>
			</li><!-- gestion commande  -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-gem"></i><span>gestion Blog </span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

					<li>


							<a href="{{ path ('blog_index') }}">
								<i class="bi bi-circle"></i><span>Blog</span>
							</a>
							<a href="{{ path('commentaire_index') }}">
								<i class="bi bi-circle"></i><span>commentaire</span>
							</a>
						</a>
					</li>
				</ul>
			</li><!-- gestion Blog et article -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-menu-button-wide"></i><span>Gestion don</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

					<li>
						<a href="{{ path ('app_don_home_admin')  }}">
							<i class="bi bi-circle"></i><span>Statistique dons</span>
						</a>
					</li>
					<li>
						<a href="{{ path ('app_don_index_admin')  }}">
							<i class="bi bi-circle"></i><span>afficher liste des dons</span>
						</a>
					</li>
					<li>
						<a href="{{ path ('app_categorie_d_index')  }}">
							<i class="bi bi-circle"></i><span>afficher liste des categories don</span>
						</a>
					</li>




				</ul>
			</li><!-- gestion don -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components1-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-menu-button-wide"></i><span>Gestion Collecte</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="components1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

					<li>
						
						<a href="{{ path ('app_collecte_index_admin')  }}">
							<i class="bi bi-circle"></i><span>afficher la liste des collecte</span>
						</a>
					</li>
					<li>


					</li>
				</ul>
			</li><!-- gestion collecte -->
			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components1-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-menu-button-wide"></i><span>Gestion Rendez vous</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="components1-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

					<li>
						
						<a href="{{ path ('app_rendezvous_index_admin')  }}">
							<i class="bi bi-circle"></i><span>afficher la liste des rendez vous</span>
						</a>
					</li>
					<li>

					</li>
				</ul>
			</li><!-- gestion rendez vous -->
		</ul>
	</aside> <!-- End Sidebar-->
{% endblock %}

{% block body %}

{% endblock %}
{% block footer %}
	<!-- ======= Footer ======= -->
	<footer id="footer" class="footer">
		<div class="copyright">
			&copy; Copyright <strong><span>EcoCycla</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
			<!-- All the links in the footer should remain intact. -->
			<!-- You can delete the links only if you purchased the pro version. -->
			<!-- Licensing information: https://bootstrapmade.com/license/ -->
			<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
			Designed by <a href="https://bootstrapmade.com/">Developpers</a>
		</div>
	</footer><!-- End Footer -->
{% endblock %}
</body>
</html>
