{% extends 'base.html.twig' %}
{% block title %}modifier categories{% endblock %}

{% block body %}
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Formualire de modification ctageorie</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Forms</li>
                    <li class="breadcrumb-item active">categorie</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-6">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">modifier categorie</h5>

                            <!-- General Form Elements -->
                            {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-4 col-form-label">Nom categorie</label>
                                <div class="col-sm-10">
                                    {{ form_widget(f.nomC,{'attr':{'class':'form-control'}}) }}
                                </div>
                                {% if form_errors(f.nomC) %}
                                    <div class="alert alert-danger">
                                        {{ form_errors(f.nomC) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-4 col-form-label">description categorie </label>
                                <div class="col-sm-10">
                                    {{ form_widget(f.descriptionCat,{'attr':{'class':'form-control'}}) }}
                                </div>
                                {% if form_errors(f.descriptionCat) %}
                                    <div class="alert alert-danger">
                                        {{ form_errors(f.descriptionCat) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-4 col-form-label">date de creation  </label>
                                <div class="col-sm-10">
                                    {{ form_widget(f.dateCreation,{'attr':{'class':'form-control'}}) }}

                                </div>
                                {% if form_errors(f.descriptionCat) %}
                                    <div class="alert alert-danger">
                                        {{ form_errors(f.descriptionCat) }}
                                    </div>
                                {% endif %}
                            </div>


                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <button type="submit" class="col-sm-4 btn btn-primary">modifier </button>
                                </div>
                            </div>
                            {{ form_end(f) }}

                        </div>
                    </div>
                </div>

            </div>


            </div>
        </section>

    </main>

{% endblock %}